.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255,255,255,1);
  padding: 1rem 0;
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: var(--primary);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.navbar-logo img {
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-link {

  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--primary);
}

.mode-change {
  background: linear-gradient(90deg, rgba(203,163,255,1) 0%, rgba(112,13,204,1) 100%);
  padding: 6px;
  border-radius: 50px;
  width: 80px;
  cursor: pointer;
  display: flex;
}
.mode-change > div {
  width: 34px;
  height: 34px;
  border-radius: 30px;
  background-color: #D9D9D9;
  padding: 6px;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}